@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu sua senha?";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Finances</title>
</head>
<body>
    <div id="logreg-forms">   

        <form method="post" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Esqueceu sua senha?</h1>

            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="email" asp-for="Input.Email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">

            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
            <a asp-area="./Login" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
        </form>
    </div>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
