@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Finances</title>
</head>
<body>
    <div id="logreg-forms">
        <form class="form-signin" id="account" method="post">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Login</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="email" id="inputEmail" asp-for="Input.Email" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" id="inputPassword" asp-for="Input.Password" class="form-control" placeholder="Password" required="">

            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Log in</button>
            <a asp-page="./ForgotPassword"id="forgot_pswd">Esqueceu sua senha?</a>            
        </form>
    </div>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
