@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Finances</title>
</head>
<body>
    <div id="logreg-forms">       
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-signin">

            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Registrar</h1>

            <div asp-validation-summary="All" class="text-danger"></div>         

            <input type="text" asp-for="Input.UserName" id="user-name" class="form-control" placeholder="Nome" required="" autofocus="">
            <input type="email" asp-for="Input.Email" id="user-email" class="form-control" placeholder="E-mail" required autofocus="">
            <input type="password" asp-for="Input.Password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
            <input type="password" asp-for="Input.ConfirmPassword" id="user-repeatpass" class="form-control" placeholder="Confime password" required autofocus="">

            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Registrar</button>
            <a asp-area="./Login"><i class="fas fa-angle-left"></i> Back</a>
        </form>
    </div>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
