@using Entities.Entities.Enums
@model Entities.Entities.Transacoes

@{
    ViewData["Title"] = "Criar";
}


<h4>Transações</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataTransacao" class="control-label"></label>
                <input asp-for="DataTransacao" type="date" class="form-control" />
                <span asp-validation-for="DataTransacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="TipoDespesas">Tipo Despesas: </label>
                <div class="form-check form-check-inline">
                    <label>
                        <span class="glyphicon glyphicon-hand-right" aria-hidden="true">
                            <input type="radio" class="form-check-input" asp-for="TipoDespesas" value="@EnumTipoDespesas.Receita" unchecked />
                            Receita
                        </span>
                    </label>

                    <label>
                        <span class="glyphicon glyphicon-hand-right" aria-hidden="true">
                            <input type="radio" class="form-check-input" asp-for="TipoDespesas" value="@EnumTipoDespesas.Despesas" checked />
                            Despesas
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input id="valor" type="text" asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="ContaId" class="control-label"></label>
                <select asp-for="ContaId" class="form-control" asp-items="ViewBag.ContaId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Debito" /> @Html.DisplayNameFor(model => model.Debito)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PlanoContaId" class="control-label"></label>
                <select asp-for="PlanoContaId" class="form-control" asp-items="ViewBag.PlanoContaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_MoneyScriptsPartial");}
    <script>
        $(function () {
            $('#valor').maskMoney({ prefix: 'R$ ', allowNegative: true, thousands: '.', decimal: ',', affixesStay: false });
        })
    </script>
}
